.booking-info{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin-left: 5%;
    margin-top: 8%;
}

.customer-info {
    width: 55%;
    padding: 5%;
    border: 1px solid black;
}

.booking {
    max-width: 40%;
    padding: 4%;
    border: 1px solid;
    margin-left: 7%;
    width: 50%;
    max-height: 300px;
    position: fixed;
    right: 40px;
}

.my-input {
    width: 250px;
    padding-left: 1%;
    padding-right: 1%;
}

.customer-name {
    display: flex;
    flex-direction: row;
}

.customer-name .my-input {
    margin-left: 2%;
}

.my-select {
    padding: 1%;
    width: 100%;
}

.email-phone {
    display: flex;
    flex-direction: row;
}

.select-service {
    width: 252px;
    padding: 8px;
}

.my-input-2 {
    width: 20px;
}

.border{
    border: 1px solid red;
}

.my-button {
    padding: 20px;
    width: 556px;

}

.valid-code{
    background-color: #08f308;
    padding-left: 22px;
    padding-right: 22px;
}

.unvalid-code {
    background-color: red;
    padding-left: 22px;
    padding-right: 22px;
}

.txt-err{
    color: red;
}

.txt-center{
    text-align: center;
    padding-top: 3%;
}

