
.page-wrapper {
    margin-bottom: 50px;
    margin-left: 210px;
}
.page_container {
    background: rgb(255, 255, 255);
    margin: 1.75rem auto;
    max-width: 700px;
    padding: 2.5rem;
    border-style: groove;
    margin-left: 160px;
}

.bread-scrumb {
    margin-left: 210px;
    margin-top: 100px;
}

.space {
    margin-top: 20px;
}

